
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

  .label {
 border-radius: 20px;
 background-color: #660099;
 box-shadow: 0 3px 3px rgba(0,0,0,.1);
 color: white;
 /*border:2px solid black;*/
 line-height: 20px;
 width: 20px;
 height: 20;
 padding: 0px;
 font-family: 'Oswald', sans-serif;
 font-weight: 500;
 font-size: 8px;
 text-align: center;
  }
   .labels {
 box-sizing:border-box;
 font-family: "Lucida Grande", "Arial", sans-serif;
 padding: 0px;
    font-size: 10px;
    text-align: center;
 background: #05F24C;
 box-shadow: 2px 2px 4px #333;
 border:2px solid #346FF7;
 height: 50px;
 width: 50px;
 border-radius: 50px;
 /*-webkit-animation: pulse 1s ease 1s 3;
 -moz-animation: pulse 1s ease 1s 3;*/
 /*animation: pulse 1s ease 1s 3;*/
}
